body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #fetchDataBtn {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  #fetchDataBtn:hover {
    background-color: #0056b3;
  }
  
  #dataDisplay {
    margin-top: 20px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #dataDisplay ul {
    padding: 0;
    list-style-type: none;
  }
  
  #dataDisplay li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #dataDisplay li:last-child {
    border-bottom: none;
  }
  
  #dataDisplay li span {
    font-weight: bold;
    display: block;
  }
  